@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-paused {
    animation-play-state: paused;
  }
  

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-scroll {
    animation: none;
  }
}